html {
	font-family: 'Merriweather', serif;
	color: #353535;
	min-height: 100%;
	width: 100%;
	text-align: center;
 	background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);

}

#underscore {
	-webkit-animation-duration: 1.2s; /* Safari 4.0 - 8.0 */
	animation-duration: 1.2s;
}

#time {
	margin: 0 auto;
}

.text-greetings {
	font-size: 75px;
	letter-spacing: 3px;
	margin-bottom: 0px;
}

.text-greetings-secondary {
	font-size: 20px;
	letter-spacing: 1px;
}

.text-field {
	margin-top: 5px;
	font-weight: bolder;
}

.text-time {
	font-family: 'Share Tech Mono', monospace;
	font-size: 65px;
	letter-spacing: -10px;
	margin-top: -15px;
}

.text-word {
	font-size: 35px;
	margin-bottom: 0px;s
}

.input-quantity {
	font-family: 'Share Tech Mono', monospace;
	font-size: 20px;
	padding: 10px;
	border-radius: 5px;
	border: 2px solid #777777;
	background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
}

.input-typing {
	padding: 20px;
	width: 92%;
	font-size: 35px;
	border-radius: 10px;
	border: none;
	margin-top: 25px;
	background-color: #f7f7f7;
}

.input-typing:focus {
	border-radius: 10px;
}

.button {
	color: #f7f7f7;
	margin-left: 7.5px;
	margin-right: 7.5px;
	border-radius: 10px;
	border: none;
	padding: 10px;
	width: 115px;
	font-size: 25px;
	margin-top: 20px;
}

.button-start {
	background-color: #076b00;
}

.button-stop {
	background-color: #c6001a;
}

.box-info {
	height: 100px;
	padding: 15px;
	margin: 10px;
	background-color: #353535;
	color: #e5e5e5;
	border-radius: 10px;
	font-size: 15px;
}

.margin-top-12 {
	margin-top: 12px !important;
}

.margin-top-24 {
	margin-top: 24px !important;
}

.margin-top-72 {
	margin-top: 72px !important;
}

.flex-box {
	width: 100%;
	display: flex;
}

.container {
	margin: 0 auto;
	width: 800px;
}

.width-33 {
	width: 33%;
}


.align-left {
	text-align: left;
}